html {
  font-family: 'Helvetica', sans-serif;
}
nav li {
    display: inline-block;
}
nav ul {
    list-style: none;
}
nav a {
    text-decoration: none;
    color: green;
}

h1 {
    margin: 0;
}
header {
    display: flex;
    justify-content: left;
}
hr {
    border: 1px solid
}
p {
    line-height: 1.5;
}
