{% extends 'base.html' %}
{% block content %}
    <!-- Main Content -->

    <!--Delete Page-->
    <section class="editPage">
        <form method="post">
            <fieldset>
                <legend>Delete Album</legend>
                <div class="container">
                    {{ form }}  
                    {% csrf_token %}
                    <button class="delete-album" type="submit">Delete Album</button>
                </div>
            </fieldset>
        </form>
    </section>

{% endblock %}